<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033502181973-cuinan5338ih6snkf2rhef4houip7kaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033502181973-cuinan5338ih6snkf2rhef4houip7kaj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1033502181973-8a3pl7iom0hlmihlgof4juohc54vnpq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrrA5ZB6VO36dFHSJqkBNAlutkJPnVevg</string>
	<key>GCM_SENDER_ID</key>
	<string>1033502181973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claro.claro</string>
	<key>PROJECT_ID</key>
	<string>claro-e90dd</string>
	<key>STORAGE_BUCKET</key>
	<string>claro-e90dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033502181973:ios:876824dd2a270eccff22dc</string>
</dict>
</plist>